<!DOCTYPE HTLM>
<html lang="pl">

<head>
  
  <meta name="author" content="Sandra Bogdan">
  <meta name="description" content="Google">
  <meta charset="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  
    <title>Google</title>
    <link rel="stylesheet" href="styleg.css">
    <link rel="stylesheet" href="nowyplik.css">
  
</head>

<body >
  <div id="wrapper" :class="[zmiana2 == 1 ? 'results' : 'home']">  
 <div class="correct">
    <div class="full_page">
   <div class="top">
     <div class="top_1">
       <div class="klasa">
         <div class="pasek_boczny">
           <div>
             <div class="napisy">
               <div class="gmail_graf">
                <a class="det" href="https://mail.google.com/mail/&amp;ogbl" target="_top">Gmail</a>
               </div>
               <div class="grafika_graf">
                <a class="det" href="https://www.google.pl/imghp?hl=pl&amp;ogbl" target="_top">Grafika</a>
              </div>
             </div>
           </div>
           <div class="reszta_paska">
             <div class="kwadrat">
             <div class="kropki">
               <div class="takno">
              <a class="styl_1" aria-label="Aplikacje Google" href="https://www.google.pl/intl/pl/about/products" aria-expanded="false" role="button" tabindex="0">
              <svg class="elements" focusable="false" viewBox="0 0 24 24">
                <path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 
                0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2
                 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path>
                </svg></a>
                </div>
             </div>
            </div>
            <a class="styl" href="https://accounts.google.com/ServiceLogin?hl=pl&amp;passive=true&amp;continue=https://www.google.com/webhp%3Fhl%3Dpl%26sa%3DX%26ved%3D0ahUKEwjkobzNv-fvAhWwpYsKHZdyAq4QPAgI&amp;ec=GAZAmgQ" target="_top">Zaloguj się</a>
          </div>
          <div class="szcz">
            <iframe role="presentation" frameborder="0" scrolling="no" src="https://ogs.google.com/widget/app/so?bc=1&amp;origin=https%3A%2F%2Fwww.google.com&amp;cn=app&amp;pid=1&amp;spid=538&amp;hl=pl"></iframe>
          </div>
          </div>
        </div>
       </div>
     </div>
   <div class="pasek_loga">
     <div class="logo">
      <img src = "googlelogo.jpg" alt="logo">
     </div>
   </div>
   <div class="searcher">
     <form action="/search">  
      <div class="searcher_top">
        
        <div class="pasek">
          <div class="pp">
            <div class="ikonka">
              <span class="details">
              <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
              </span>
             </div>
            <div class="wyszuk">
              <div class="plus"> 
                
              </div>
        <label for="fname"> </label><br>
        <form method="GET" action="file:///C:/Users/Sanderkatojahaha/Desktop/SandraBogdan.github.io/Google/nowyplik.html" >
         <input @focus="foc" ref="first" v-model="googleSearch" type="text" class="dodatek" v-on:keyup.down="downClick" v-on:keyup.up="upClick" v-on:keyup.enter="enterClick"/>
        </form>


           </div>
           <div class="icons">
             <div class="key">
               <span class="plusp">
                 <img src= "tia.png">
               </span>
             </div>
             <div class="mic">
               <svg class="mic1">
                <path d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z" fill="#4285f4"></path>
                <path d="m11 18.08h2v3.92h-2z" fill="#34a853"></path>
                <path d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z" fill="#f4b400"></path>
                <path d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z" fill="#ea4335"></path>
               </svg>
             </div>
            </div>
          </div >
      </div>
        <div class="reszta">
          <center>
            <input v-on:click="zmiana"  type="button" class="bloki" value="Sukaj w google"/>

            <input v-on:click="zmiana"  type="button" class="bloki" value="Szczęśliwy traf"/>
         </center>
        
        </div>
        
      </div>
     </form>
   </div>
   <div class="lower"> </div>
   <div class="bottom">
     <div class="Polska">Polska</div>
     <div class="onas">
       <div class="info_left">
        <a class="det" href="https://about.google/?utm_source=google-PL&amp;utm_medium=referral&amp;utm_campaign=hp-footer&amp;fg=1" ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://about.google/%3Futm_source%3Dgoogle-PL%26utm_medium%3Dreferral%26utm_campaign%3Dhp-footer%26fg%3D1&amp;ved=0ahUKEwjI26PxuPnvAhVkwosKHTURDSUQkNQCCA0">O nas</a>
        <a class="det" href="https://www.google.com/intl/pl_pl/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpafooter&amp;fg=1" ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://www.google.com/intl/pl_pl/ads/%3Fsubid%3Dww-ww-et-g-awa-a-g_hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&amp;ved=0ahUKEwjI26PxuPnvAhVkwosKHTURDSUQkdQCCA4">Reklamuj się</a>
        <a class="det" href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&amp;utm_source=google.com&amp;utm_medium=referral&amp;utm_campaign=google_hpbfooter&amp;fg=1" ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://www.google.com/services/%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&amp;ved=0ahUKEwjI26PxuPnvAhVkwosKHTURDSUQktQCCA8">Dla firm</a>
        <a class="det" href="https://google.com/search/howsearchworks/?fg=1">  Jak działa wyszukiwarka </a>
       </div>
       <div class="info_middle">
        <a class="det" href="https://sustainability.google/intl/pl/commitments-europe/?utm_source=googlehpfooter&amp;utm_medium=housepromos&amp;utm_campaign=bottom-footer&amp;utm_content=">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAYCAMAAAAiV0Z6AAAAPFBMVEVLoEN0wU6CzFKCzFKCzFKCzFKCzFJSo0MSczNDmkCCzFJPoUMTczNdr0gmgziCzFITczMTczMTczMTczPh00jOAAAAFHRSTlPF/+bIsms8Ad///hX+//5/tXw7aMEAx10AAACaSURBVHgBbc4HDoRQCATQ33tbvf9dF9QxaCT9UQaltLHOh/golXKhMs5Xqa0xU1lyoa2fXFyQOsDG38qsLy4TaV+sFislovyhPzLJJrBu6eQOtpW0LjbJkzTuTDLRVNKa3uxJI+VdiRqXSeu6GW+Qxi29eLIi8H7EsYrT42BD+mQtNO5JMjRuC4lSY8V4hsLX0egGijvUSEP9AbylEsOkeCgWAAAAAElFTkSuQmCC" class="det_1" data-iml="1618255867930" data-atf="1">
          <span class="det_2">Neutralność węglowa od 2007 roku</span></a>
       </div>
       <div class="info_right">
        <a class="det" href="https://policies.google.com/privacy?hl=pl&amp;fg=1" ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://policies.google.com/privacy%3Fhl%3Dpl%26fg%3D1&amp;ved=0ahUKEwjI26PxuPnvAhVkwosKHTURDSUQ8awCCBA">Prywatność</a>
        <a class="det" href="https://policies.google.com/terms?hl=pl&amp;fg=1" ping="/url?sa=t&amp;rct=j&amp;source=webhp&amp;url=https://policies.google.com/terms%3Fhl%3Dpl%26fg%3D1&amp;ved=0ahUKEwjI26PxuPnvAhVkwosKHTURDSUQ8qwCCBE">Warunki</a>
        <div class="set">
          <button class="button" aria-controls="dEjpnf" aria-haspopup="true" id="Mses6b" jsaction="mousedown:lgs1Pb;FwYIgd;keydown:QXPedb">Ustawienia</button>
        <ul class="ul">
          <li><a class="button"  href="https://www.google.pl/preferences?hl=pl&fg=1">Ustawienia wyszukiwania</a></li>
          <li><a class="button"  href="https://www.google.pl/advanced_search?hl=pl&fg=1">Szukanie zaawansowane</a></li>
          <li><a class="button"  href="https://www.google.pl/history/privacyadvisor/search/unauth?utm_source=googlemenu&fg=1">Twoje dane</a></li>
          <li><a class="button"  href="https://www.google.pl/history/optout?hl=pl&fg=1">Historia wyszukiwania</a></li>
          <li><a class="button" href="https://support.google.com/websearch/?visit_id=637539343039515562-2759465338&hl=pl&rd=2#topic=3378866">Pomoc dotycząca wyszukiwania</a></li>
          <li>
            <button class="button" data-bucket="websearch" role="menuitem" tabindex="-1" jsaction="trigger.YcfJ">Prześlij opinię</button>
          </li>
        </ul>
        </div>
      </div>
     </div>
   </div> 
  

  </div>
 </div>

 
 <div class="googlesearcher">
  <img src="googlelogo1.jpg" alt="" v-on:click="zmiana()">

  <ul class="ontop">
    <li>
      <a aria-label="Aplikacje Google" href="https://www.google.pl/intl/pl/about/products" aria-expanded="false" role="button" tabindex="0" class="styl_1"><svg focusable="false" viewBox="0 0 24 24" class="elements"><path d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 
      0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2
       -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"></path></svg></a></a></li>
    <li><button class="ontop2" type="button" name="button">Zaloguj się</button></li>
  </ul>

  <div class="search">

    <div class="search_elements">
      <input ref="second" type="text" v-model="googleSearch"/>
      <img src="x.png" class="x">
      <div class="line"></div>
      <img src="tia.png" class="keybord">
      <img src="mic.png" class="micro">
      <img src="lupa.png" class="lupa" >
    </div>

    <ul class="search_options">
      <li class="letters"><a href="">Wszystko</a></li>
      <li class="letters"><a href="">Wiadomości</a></li>
      <li class="letters"><a href="">Grafika</a></li>
      <li class="letters"><a href="">Wideo</a></li>
      <li class="letters"><a href="">Mapy</a></li>
      <li class="letters"><a href="">Więcej</a></li>
      <li class="letters1"><a class="tools" href="">Narzędzia</a></li>
      <li class="letters1"><a href="">Ustawienia</a></li>
    </ul>
  </div>

</div> 

<div class="searchResults">

  <p id="results_count">Około 14 700 000 wyników (0,34 s) </p>
  <div class="cities">
    <a class="link">Miasta zawierające "{{googleSearch}}":</a>
    <ul>
      <li v-for="city in filteredCities">
        {{ city.name }}
      </li>
    </ul>
  </div>

  <div class="result" style="margin-top:30px;">
    <a href="https://www.google.com/search?q=jaki%C5%9B+wunik+google&sxsrf=ALeKk034keCFyPeQ9A0a8ClLMtTiBIRYMw%3A1621452981591&ei=tWilYOyuI4e5ggfbmrzgCw&oq=jaki%C5%9B+wunik+google&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABUNgQWLgZYLkaaABwAngAgAG-AogB6gSSAQMzLTKYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=gws-wiz&ved=0ahUKEwis3fKHv9bwAhWHnOAKHVsND7wQ4dUDCA4&uact=5">
        support.google.com<span style="color:gray"> > websearch > answer</span><button>▼</button>
        <h2 >Sprawdzanie wyników wyszukiwania podrózy przez Gmaila ...</h2></a>
    <p>Zobacz wynki z innego konta Google. Uwaga: aby wykonać te czynności , musisz zalogowac się na konto Google. Na telefonie lub na tablecie z Androidem otwórz... </p>
    </div>

    <div class="result" style="margin-top:30px;">
        <a href="https://www.google.com/search?q=jaki%C5%9B+wunik+google&sxsrf=ALeKk034keCFyPeQ9A0a8ClLMtTiBIRYMw%3A1621452981591&ei=tWilYOyuI4e5ggfbmrzgCw&oq=jaki%C5%9B+wunik+google&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABUNgQWLgZYLkaaABwAngAgAG-AogB6gSSAQMzLTKYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=gws-wiz&ved=0ahUKEwis3fKHv9bwAhWHnOAKHVsND7wQ4dUDCA4&uact=5">
            support.google.com<span style="color:gray"> > websearch > answer</span><button>▼</button>
            <h2 >Zawężanie wyników wyszukiwania-Wyszukiwarka Google...</h2></a>
        <p>Możesz zwiększyć precyzje wyników wyszukiwania, używając w zapytaniu słów i symboli. Wyszukiwarka Google zwykle ignoruje znaki interpunkcyjne, które nie...</p>
    </div>

    <div class="result" style="margin-top:30px;">
        <a href="https://www.google.com/search?q=jaki%C5%9B+wunik+google&sxsrf=ALeKk034keCFyPeQ9A0a8ClLMtTiBIRYMw%3A1621452981591&ei=tWilYOyuI4e5ggfbmrzgCw&oq=jaki%C5%9B+wunik+google&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABUNgQWLgZYLkaaABwAngAgAG-AogB6gSSAQMzLTKYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=gws-wiz&ved=0ahUKEwis3fKHv9bwAhWHnOAKHVsND7wQ4dUDCA4&uact=5">
            support.google.com<span style="color:gray"> > websearch > answer</span><button>▼</button>
            <h2 >Rodzaje wyników wyszukiwania Google - ponad 20% ...
            </h2></a>
        <p>7) Wewnętrzna wyszukiwarka. Rodzaje wyników wyszukiwania Google wzbogacono o jakiś czas temu o funkcję wewnętrznej wyszukiwarki. To rozwiązanie, bez ... </p>
    </div>

    <div class="result" style="margin-top:30px;">
        <a href="https://www.google.com/search?q=jaki%C5%9B+wunik+google&sxsrf=ALeKk034keCFyPeQ9A0a8ClLMtTiBIRYMw%3A1621452981591&ei=tWilYOyuI4e5ggfbmrzgCw&oq=jaki%C5%9B+wunik+google&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABUNgQWLgZYLkaaABwAngAgAG-AogB6gSSAQMzLTKYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=gws-wiz&ved=0ahUKEwis3fKHv9bwAhWHnOAKHVsND7wQ4dUDCA4&uact=5">
            support.google.com<span style="color:gray"> > websearch > answer</span><button>▼</button>
            <h2 >14 sposobów wyszukiwania w Google, których 95% z Was nie ...</h2></a>
        <p>Szukanie frazy – zastosowanie cudzysłowu. Wyniki wyszukiwania w Google konkretnych fraz mogą być bardziej trafne, gdy zastosujemy cudzysłów. Algorytmy ...</p>
        
    </div>

    <div class="result" style="margin-top:30px;">
        <a href="https://www.google.com/search?q=jaki%C5%9B+wunik+google&sxsrf=ALeKk034keCFyPeQ9A0a8ClLMtTiBIRYMw%3A1621452981591&ei=tWilYOyuI4e5ggfbmrzgCw&oq=jaki%C5%9B+wunik+google&gs_lcp=Cgdnd3Mtd2l6EAMyBQghEKABUNgQWLgZYLkaaABwAngAgAG-AogB6gSSAQMzLTKYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=gws-wiz&ved=0ahUKEwis3fKHv9bwAhWHnOAKHVsND7wQ4dUDCA4&uact=5">
            support.google.com<span style="color:gray"> > websearch > answer</span><button>▼</button>
            <h2 >Wyniki wyszukiwań Google – skąd takie rozbieżności?</h2></a>
        <p>Otóż inaczej będą prezentować się wyniki wyszukiwania po wpisaniu tej samej frazy przez ... Google przechwytuje adres IP i za jego pomocą generuje wyniki, np. po wpisaniu frazy ... Jaki jest koszt pozycjonowania sklepu?</p>
    </div>

  <br>

  <div class="resultes">
    <h2>Wyszukiwania podobne</h2>
    

    <table class="pages">
      <tr>
        <td><span class="blue">G</span></td>
        <td><span class="red">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="yellow">o</span></td>
        <td><span class="blue">g</span></td>
        <td><span class="green">l</span></td>
        <td><span class="red">e</span></td>
        <td rowspan="3" style="width: 12px;"></td>
        <td><span class="blue arrow">></span></td>
      </tr>

      <tr>
        <td class="numer"></td>
        <td class="numer" style="color: rgb(8, 8, 8); cursor: text;">1</td>
        <td class="numer">2</td>
        <td class="numer">3</td>
        <td class="numer">4</td>
        <td class="numer">5</td>
        <td class="numer">6</td>
        <td class="numer">7</td>
        <td class="numer">8</td>
        <td class="numer">9</td>
        <td class="numer">10</td>
      </tr>
    </table>
</div>
</div>
</div>
</body>
</html>